body {
font-family: OpenSans, Calibri, FontAwesome;
}

h4 {
margin: 1px;
font-weight: normal;
}

#map {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
}

.logo {
position: absolute;
left: 10px;
top: 10px;
height: 50px;
}

.block {
position: absolute;
left: 10px;
}

.block nav {
position: absolute;
left: 0px;
top: 0px;
font-size: 16px;
line-height: 16px;
}

.block nav a {
display: block;
padding: 10px;
text-align: center;
color: rgb(127, 127, 127);
}

.block nav.nav-bg-dark {
background: rgba(127, 127, 127, 0.7);
}

.block nav.nav-bg-dark a {
color: white;
}

.block nav a:hover {
/*background: rgba(112, 48, 160, 0.7);*/
background: rgba(152, 98, 210, 0.7);
color: white;
cursor: pointer;
}

.block .content, .block .content-transparent {
position: absolute;
left: 36px;
top: 0px;
min-width: 150px;
color: rgb(127, 127, 127);
font-size: 12px;
}

.block .content {
background: rgba(255, 255, 255, 0.7);
}

.row {
padding: 3px;
}

.icon {
color: rgb(152, 98, 210);
}

#user {
top: 100px;
}

#user .content {
height: 52px;
padding-top: 10px;
padding-bottom: 10px;
}

#user .content b {
font-size: 16px;
}

#place {
top: 200px;
}

img[alt="pin_type"] {
width: 16px;
vertical-align: middle;
margin-right: 3px;
margin-left: -3px;
}

#menu {
bottom: 150px;
}


.pin-item {
width: 75px;
margin-bottom: -45px;
margin-left: -15px;
    color: rgb(152, 98, 210);
/*background: white;
padding: 10px;*/
}

.pin-description {
font-style: italic;
color: gray;
}

.close-button {
float: right;
font-size: 10px;
cursor: pointer;
}

.invalid-field {
color: rgb(255, 144, 82);
}


.template {
display: none;
}